.previous-next {
    display: flex;
    align-items: center;
    height:75px;
    border-bottom: 2px solid #333;
}
.element {
    display: flex;
    justify-content: space-between;
}
.left-element {
   width: 100%;
   text-align: center;
   border-right: 2px solid #333;
}
.left-element >form{
    text-align: center;
}
.top-elem > p {
    margin-bottom: 10px;
}
.left-element>form > input{
    margin: 25px;
    height: 30px;
    width:250px;
}
.left-element>form > label{
    display: inline-block;
    text-align: left;
    width:300px;  
    margin: 10px; 
}
.right-button {
    height: 30px;
    width: 25px;
    border-left: 0;

    padding: 0;
    background-color: white;
}
.form-footer{
    position: relative;
    left:15%
}
.form-footer>a,.form-footer>button{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}
.form-footer>button{
    background-color: darkblue;
    color: white;
}

.right-elemnt {
    width: 100vh;
    max-height: 120vh;
    overflow: scroll;
}
.recplace{
    height: 150px;
    padding: 30px;
    margin-bottom: 10px;
}

















.review-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    
}
.review-container p {
    text-align: center;
}
.rectangle {
    background-color: aqua;
}