.previous-next {
    display: flex;
    align-items: center;
    height:75px;
    border-bottom: 2px solid #333;
}
.element {
    display: flex;
    justify-content: space-between;
}
.left-element {
   width: 100%;
   text-align: center;
   border-right: 2px solid #333;
   display: flex;
   flex-direction: column;
  
}
.left-element >form{
    text-align: center;
}

.left-element >form>span {
    margin-left: 20px;
}
.top-elem > p {
    margin: 10px;
}

.prograss-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.prograss-bar .bar-style {
    display: flex;
    align-items: center ;
}
.prograss-bar .bar-name {
    display: flex;
    justify-content:space-between;
    width: 660px;
    margin-top: 10px;
}
.prograss-bar .line {
    height: 3px;
    width:600px;
    background-color:#333;
}
.prograss-bar .step1,.step2 {
    border: 2px solid #333;
    height:20px;
    width:20px;
    border-radius: 10px;
    
}
.step1_color {
    border: 2px solid #333;
    height:20px;
    width:20px;
    border-radius: 10px;
    background-color:green;
}

.line_color {
    height: 3px;
    width:600px;
    background-color:green;
}

.left-element>form > input[type='text']{
    margin: 25px;
    height: 30px;
    width:275px;
    margin-right: 0;
}
.left-element>form > label{
    display: inline-block;
    text-align: left;
    width:300px;  
    margin: 10px; 
}

.in-but {
    display: inline-block;  
}

.in-but label {
    display: inline-block;
    text-align: left;
    width:300px;  
    margin: 10px; 
}

.in-but input {
    margin: 25px;
    height: 30px;
    width:250px;
    border-right: 0;
    margin-right: 0;

}
.in-but input:focus {
    outline:0;
}
.in-but button {
    border-left:0;
    height: 25px;
    width: 25px;
    padding-top: 4px;
    padding-bottom: 22px;
    box-shadow: none;
     background-color: white;
}

.amount label {
    display: inline-block;
    text-align: left;
    width:300px;  
    margin: 10px; 

}
.amount input[type='text'] {
    margin: 25px;
    height: 30px;
    width:175px;
}
.amount select {
    height: 30px;
    width:75px;
}
.dis {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.dis label {
    display: inline-block;
    width:300px;  
    margin: 10px; 
    text-align: left;
    margin-right: 35px;
    margin-left: 5px;
}
.dis textarea {
    width: 270px;
    height: 80px; 
}

.check-all {
    display: flex;
    margin: 30px;
    justify-content: center;
    align-items: center;
}
.check-all label {
    display: inline-block;
    text-align: left;
    width:300px;  
    margin: 10px; 
}
.check {
    margin: 25px;
    height: 30px;
    width:275px;
    margin-right: 0;
    display: inline-block;
    text-align: left;
}
.check input {
    margin-right:10px ;
}

.form-footer{
    position: relative;
    left:15%
}
.form-footer>a,.form-footer>button{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}
.form-footer>button{
    background-color: darkblue;
    color: white;
}

.right-elemnt {
    width: 100vh;
    max-height: 120vh;
    overflow: scroll;
}
.recplace{
    height: 150px;
    padding: 30px;
    margin-bottom: 10px;
}
.review {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.review-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width:700px;
    height:250px;
    align-items: left;
    border-top:2px solid #333 ;
    border-bottom:2px solid #333 ;
}
.top-content {
    display: flex;
    justify-content: flex-start;
    width: 700px;
    align-items: center;
    font-size: 16px;
}
.top-content p {
    margin: 10px;
}
.review-container button {
    height: 30px;
    width:60px;

}