.model {
    position: fixed;
    top:50%;
    left:50%;
    background-color: #ffff;
    transform: translate(-50%,-50%);
    z-index: 2;
    padding: 10px;
}
.overlay {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
}

.model-element {
    display: flex;
    height: 400px;
    width:600px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
#cancel {
    cursor: pointer;
    text-align: right;
    width: 100%;
}
.ok {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:50px;
    border-radius: 25px;
    border: 2px solid green;
    font-size: 30px;
    color: green;
}
.model-element p {
    font-size: 18px;
    margin: 10px;
    color: blue;
}

.success-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:15px;
}
.success-footer button {
    margin: 0;
    background-color: #ffff;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}
.success-footer a {
    text-decoration: none;
}
.model_child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:30px;
}

.model_child p {
    color: black;
    font-size: 16px;
    margin:2px;
}